In [3]:
import mplfinance as mpf
import matplotlib.dates as mpl_dates
import math
from IPython.display import clear_output
import warnings
import time
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline
#%matplotlib notebook
pd.options.mode.chained_assignment = None
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
from matplotlib import cm
from matplotlib.ticker import LinearLocator
import matplotlib.gridspec as gridspec
from mpl_toolkits.mplot3d import Axes3D
import cProfile
import pstats
import io
from pstats import SortKey
import pandas_ta as ta

In [4]:
nifty5 = pd.read_csv('NEW_Cleaned_Nifty50_5min.csv')

In [50]:
df=nifty5[nifty5['Date']=='12-01-2015'][::3]
df.reset_index(inplace=True,drop=True)
df.drop(['Date','Time'],axis=1,inplace=True)
df = df[0:0]

In [73]:
#df.loc[0]=[19487.8,19491.45,19483.8,19486.6]
df.loc[0]=[0,0,2000000,0]
#df.loc[1]=[19486.6,19487.55,19478.65,19485.65]
df.loc[1]=[0,0,2000000,0]
#df.loc[2]=[19485.65,19492.5,19484.85,19488.25]
df.loc[2]=[0,0,2000000,0]
#df.loc[3]=[19488.25,19499.5,19485.55,19498.65]
df.loc[3]=[0,0,2000000,0]
# df.loc[4]=[19498.65,19503.45,19493.75,19502.55]
df.loc[5]=[19596.8,19618.55,19596.8,19616.35]

In [74]:
b=len(df)
ta.supertrend(df['High'][:b], df['Low'][:b], df['Close'][:b],length=1,multiplier=2)

   SUPERT_1_2.0  SUPERTd_1_2.0  SUPERTl_1_2.0  SUPERTs_1_2.0
0         0.000              1            NaN            NaN
1  -3000000.000              1   -3000000.000            NaN
2  -3000000.000              1   -3000000.000            NaN
3  -3000000.000              1   -3000000.000            NaN
4    -19508.300              1     -19508.300            NaN
5     19375.675              1      19375.675            NaN